@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --dash-font-color: white;
    --secondary-color: rgb(76, 136, 255);
    --main-color: white;
    --test-border: 1px solid red;
    --cards-border: 10px;
    --cards-shadow: 1px 5px 12px rgba(88, 88, 88, 0.2);
    --card-border: 1px solid rgba(212, 201, 201, 0.26);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: minmax(250px, 275px) 3fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

/*-------------- HEADER STYLES --------------*/

.header {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    max-height: 150px;
    z-index: 1;
    box-shadow: 0 4px 12px rgba(88, 88, 88, 0.2);
}

.header .search-bar, 
.header .nav-bar {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header .search-bar .right-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header .search-bar .right-contents span{
    cursor: pointer;
}

.header .nav-bar .left-contents {
    display: flex;
    align-items: center;
    gap: 1.5rem;   

}

.header img {
    width: 3.5rem;
    border-radius: 100px;
    grid-row: span 2;
}

.header h2,
.header h1 {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.header .nav-bar {
    padding: 1.2rem;
    padding-top: 0;
}

.header .nav-bar .right-contents {
    display: flex;
    flex-direction: row;
    gap: 3rem
}

.nav-bar .right-contents > * {
    color: var(--main-color);
    background-color: var(--secondary-color);
    border-radius: 50px;
    width: 7rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.8rem;
    cursor: pointer;
}

.header .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}

.header > .search-bar > * {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 5rem;
}

.header .search-bar .search-icon {
    height: 2rem;
    border-radius: 20px;
    width: 30rem;
    background-color: rgb(223, 220, 220);
    cursor: text;
}

/*-------------- DASHBOARD STYLES --------------*/

.dashboard {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    grid-column: 1;
    grid-row: 1 / span 2;
    gap: 2rem;
}

.dashboard > * {
    margin-left: 2rem;
    margin-top: 2rem;
}

.dashboard .logo-text span {
    margin-top: 0.4rem;

}

.dashboard .item {
    cursor: pointer;
}

.dashboard span,
.dashboard h2,
.dashboard h1 {
    color: var(--dash-font-color);
}

.dashboard .logo-text {
    display: flex;
    gap: 1rem;
}

.dashboard .item {
    margin-bottom: 1rem;
}

.dashboard .item {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/*-------------- MAIN CONTENT STYLES --------------*/

main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr;
    background-color: rgb(229, 234, 243);
    gap: 1rem;
    padding: 1rem;
    min-height: 0;
}

.projects-section,
.announcements-section,
.trendings-section {
    border: var(--test-border);
}

.project-cards,
.announcements-section,
.trendings-section {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.projects-section::-webkit-scrollbar,
.announcements-section::-webkit-scrollbar,
.trendings-section::-webkit-scrollbar {
    display: none;
}

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.project-cards .cards{
    height: 13rem;
    border-radius: var(--cards-border);
    box-shadow: var(--cards-shadow);
    border: var(--card-border);
}

.projects-section {
    grid-row: span 2;
}

main .section-title {
    font-size: clamp(1rem, 1.2rem, 1.3rem);
    font-weight: 500;
}

.announcements-section {
    padding-top: 0.9rem;
}

.announcements-section .pages {
    border: var(--test-border);
    border-radius: var(--cards-border);
    padding: 0.6rem;
}

.announcements-section .page {
    border-bottom: 1px solid grey;
}

.announcements-section .page:last-child {
    border: none;
}

.trendings-section {
    display: flex;
    flex-direction: column;
}

.trendings-section .pages {
    flex: 1;
    border: var(--test-border);
    border-radius: var(--cards-border);
    padding: 0.6rem;
}